header {
	background-color: #A9A9A9;
	margin: 15px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}


nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #FF0000;
	padding: 10px;
	margin: 15px;
}

ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	
}

ul li {
	margin-right: 20px;
}

#search {
}

.paragraphs {
	border: 1px solid black;
}

.image {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	display: block;
}

footer {
    background-color: #A9A9A9; 
	padding: 5px;
	text-align: left;
	margin: 15px;
}

main {
    background-color: #D3D3D3;
    margin: 15px;
}

h2 {
    text-align: center;
    margin: 15px;
}

p {
	margin: 15px;
}
